
.main-page {
    /* position: relative; */
    /* justify-content: center; */  
}


.background-container {
    position: absolute;
    overflow: hidden;
    
}
.background-img {
    background-size: cover;
    min-width: 1200px;
    position: relative;
    width: 100%;
    opacity: 85%;
    

}


.main-container {
    width: 500px;
    height: 500px;
    position: fixed; 
    margin-left: -250px;
    margin-top: 100px;
    left: 50%;
    padding: 30px;
    /* left: 50%;
    right: 50%;
    margin-top: 90px; */
    align-items: center;
    /* justify-content: center; */
    text-align: center;

    /* vertical-align: middle; */
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 2px 15px 1px #000000;
    
}

.logo-container {
    /* margin-top: 30px; */
    /* width: 300px; */
}
.logo{
  width: 250px;
  height: auto;
  margin: -10px;

}

.content-container {
    align-items: center;
}

.welcome {
    font-family: 'Gowun Batang', serif;
    font-size: 42px;
    margin-top: 10px;
    font-weight: 500;
}

.login-signup-link {
    margin-top: 50px;
}

.login-splash, .signup-splash {
    text-decoration: none;
    padding: 15px;
    background-color: rgb(77, 116, 110);
    color: white;
    border-radius: 8px;
    margin-top: 20px;    
}

.login-splash:hover, .signup-splash:hover {
    background-color: #91a183;
}

.login-splash {
    /* margin-left: 50px; */
    padding: 15px 20px 15px 20px;
}

.homepage {
    font-family: 'Gowun Batang', serif;
    font-size: 32px;
    font-weight: 500;
}
.signup-splash {
    margin-left: 20px;
}


