
.main-page {
    /* position: relative; */
    /* justify-content: center; */ 
    height: 100vh; 
    background-image: url("vadim-kaipov-8ZELrodSvTc-unsplash.jpg");
    background-color: #cccccc;
    background-size: cover;
}


/* .background-container {
    position: absolute;
    overflow: hidden;
    
}
.background-img {
    background-size: cover;
    min-width: 1200px;
    position: relative;
    width: 100%;
    opacity: 85%;
    

} */


.main-container {
    width: 65vw;
    height: 80vh;
    position: fixed; 
    
    margin-top: 5%;
    left: 50%;
    transform: translate(-50%);
    padding: 30px;
    /* left: 50%;
    right: 50%;
    margin-top: 90px; */
    align-items: center;
    /* justify-content: center; */
    text-align: center;

    /* vertical-align: middle; */
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 2px 15px 1px #000000;
    
}

.homepage{
    font-size: 140%;
}

.patrick{
    float: left;
    padding: 2%;
    font-weight: bold;
}

.shirley{
    float: left;
    padding: 2%;
    font-weight: bold;
}

.nicha{
    float: left;
    padding: 2%;
    font-weight: bold;
}

.annie{
    float: left;
    padding: 2%;
    font-weight: bold;
}

.description{
    width:60vw;
    text-align: center;
    font-size: 130%;
    align-self: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.instructions{
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
}

.created-by{
    width: 43vw;
    margin-top: 17%;
    
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    
    
}

.logo-container {

    /* margin-top: 30px; */
    /* width: 300px; */
}
.logo{
  width: 150px;
  height: auto;
  margin: -10px;

}


.content-container {
    align-items: center;
}

.welcome {
    font-family: 'Gowun Batang', serif;
    font-size: 42px;
    margin-top: 10px;
    font-weight: 500;
}

.login-signup-link {
    margin-top: 50px;
    position: relative;
    bottom: -10%;
}

.login-splash, .signup-splash {
    text-decoration: none;
    padding: 15px;
    background-color: rgb(77, 116, 110);
    color: white;
    border-radius: 8px;
    margin-top: 20px;    
}

.login-splash:hover, .signup-splash:hover {
    background-color: #91a183;
}

.social{
    height: 25px;
    width: 25px;
    margin: 5px;
}

.login-splash {
    /* margin-left: 50px; */
    padding: 15px 20px 15px 20px;
}

.homepage {
    font-family: 'Gowun Batang', serif;
    font-size: 32px;
    font-weight: 500;
}
.signup-splash {
    margin-left: 20px;
}


