.home-page-container{
  
  width: 100vw;
  height: 130vh;
  align-items: center;
  align-content: center;
  text-align: center;
  
  
  /* background-image: url("dirt.jpeg"); */

  
}

/* .home-page-background-color{
  background-color: rgb(250, 225, 212);
  z-index: -10000;
  position: relative;
} */

.plantList{
  list-style-type: none;
  z-index: 10;
  float: left;

  width: 93vw;
  height: 60vw;
  margin-top: 20vh;

  background-color: rgb(250, 225, 212);
  background-image: url("dirt.jpeg");
  border-radius: 200px;
}

.dirt{
  width: 95vw;
  height: 60vw;
  border-radius: 200px;
  z-index: 1;
  position: relative;
  align-self: center;
  margin-top: 30px;
}

.plantList{
  position: absolute;
  z-index: 100;
  left: 2%; top: 5%; 
}

.individual-sprout{
  float: left;
  position: relative;
  top: -20%;
  height: 40vh;
  width: 11vw;
  color: white;
  font-family: 'Annie Use Your Telescope', cursive;
  margin: 10px;
  margin-top: 30vh;
  margin-bottom: -15vh;
  font-size: 120%;
  font-weight: bold;
  z-index: -700;
}

.hello{
  margin-top: -20px;
}

.plantName2{
  margin-top: 10px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-family: 'Annie Use Your Telescope', cursive;
  letter-spacing: 1px;
  font-size: 22px;

}

.sprout-image{
  height: 20vh;
  width: 5vw;
  overflow: hidden;
  object-fit: cover;
  z-index: -600;
}



.update-button{
  z-index: 10000;
  background-color: rgb(0, 128, 55);
  color: white;
  border-style: none;
  border-radius: 1vh;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 2.5vh;
  margin: 2px;
}

.update-button:hover {
    cursor: pointer;
    background-color: #72c254;
}


.delete-button{
  z-index: 10000;
  background-color: rgb(0, 128, 55);
  color: white;
  border-style: none;
  border-radius: 1vh;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 2.5vh;
  margin: 2px;
}

.delete-button:hover {
    cursor: pointer;
    background-color: #72c254;
}

.render-update-form{
  z-index: 100000;
  background-color: white;
  position: absolute;
  bottom: 0%;
  translate: (0%, -100%);
  border-radius: 10px;
  box-shadow: 0px, 0px, 10px, 10px;
}

.nickname{
  z-index: 100002;
  color: black;
  font-size: 90%;
}

.date{
  z-index: 100002;
  color: black;
  font-size: 90%;
}

.waterdate{
  z-index: 100002;
  color: black;
  font-size: 90%;
}

.watering-can{
  position: absolute;
  right: 0%;
  height: 10vh;
  width: 14vh;
}

.watering-can:hover {
    cursor: pointer;
    transform: rotate(-20deg);
}

.picture-link{
  z-index: 10000000;
}

.garden-plant-image{
    height: 7vw;
    width: 7vw;
    position: relative;
    border-radius: 3vw;
    top: 0%;
    cursor: pointer;
    z-index: 100000;
    opacity: 1;
    border: 2px;
    border-color: white;
    border-style: solid;
    
}

.garden-plant-image:hover {
    cursor: pointer;
    border-color: #657468;
}

.water-done-form{
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%);
  z-index: 1000000;
  background-color: white;
  border-radius: 20px;
  font-family: 'Annie Use Your Telescope', cursive;
  width: 20vw;
  box-shadow: 0px, 0px, 20px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 120%;
  font-weight: bold;
  background-color: rgb(250, 225, 212);
}

.anytime{
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 120%;
  font-weight: bold;
  background-color: rgb(0, 128, 55);
  border-radius: 5px;
  color: white;
}


.anytime:hover {
    cursor: pointer;
    background-color: #72c254;
}
