.nav-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    border-bottom: solid 1px;
}

.all-nav-bttn {
    display: flex;
    justify-content: space-between;
    height: 150px;
    min-width: 800px;
    background-color: #fae1d4;

    background-color: rgb(101, 116, 104);
    padding-right: 3vw;
    padding-left: 3.5vw;
}

.explore-plant-link {
    height: fit-content;
    padding-top: 70px;
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;

}

.explore-plant-link:hover {
    border-bottom-style: solid;
    padding-bottom: 5px;

}

.explore-garden-link {
    height: fit-content;
    padding-top: 27px;
    text-decoration: none;
    color: white;
}

.explore-garden-link:hover {
    border-bottom-style: solid;
    padding-bottom: 5px;

}

.explore-links {
    display: flex;
}

.logo-nave {
    padding-top: 10px;
}

.logout-bttn {
    cursor: pointer;
    margin-top: 50px;
    width: 100px;
    height: 55px;
    border:rgb(0, 0, 0) 1px solid; 
    border-radius: 1px;
    background-color: transparent;
    font-weight: bolder;
}

.logout-bttn:hover {
    transition:all .5s ease-in-out;
    background: rgb(177, 177, 177);
    font-weight: bolder;
    color: white;
}

.explore-plant-link {
    
}

img {
    width: 150px;
    height: auto;
}

