
.garden-index-container {
    margin-top: -7vh;
    padding-bottom: 6vh;
    background-color: #fae0d4;
    height: 100%;

    /* overflow-y: auto; */
}

.garden-index-header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 5vh;

    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 10vh;
}

.garden-index-list-container {
    list-style: none;
}

.user-garden-container {

}

.user-garden-header {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 6vh;
    padding-left: 12vw;

    margin-bottom: 2vh;
}

.user-garden-dirt {
    z-index: 10;
    width: 94vw;
    height: 80vh;

    margin-bottom: 10vh;

    border-radius: 30vh;
}

.user-garden-top-border {
    height: 1px;
    width: 94vw;

    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: black;
}
