.home-page-container{
  
  width: 100vw;
  height: 130vh;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: rgb(250, 225, 212)
  
  /* background-image: url("dirt.jpeg"); */
}

.plant-index-item-mega-container {
    height: 130vh; 
    background-image: url("wallpaper.png");
    background-color: #cccccc;
    background-size: cover;
}

.instructions2 {
  background-color: rgb(250, 225, 212);
  border-radius: 2vh;
  font-family: 'Annie Use Your Telescope', cursive;
  width: 50vw;
  height: 50vh;
  margin-top: 5vh;
  overflow-y: auto;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-size: 130%;
  font-weight: bold;
  
  padding-left: 4vw;
  padding-right: 2vw;
  float: left;
}

.mern-people {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions-title{
  align-self: center;
  text-align: center;
  align-items: center;
  align-content: center;
}

.created-by{
    width: 50vw;
    margin-top: 3%;
    padding-top: 2%;
    height: 35vh;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center; 
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(250, 225, 212); 
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 145%;
    font-weight: bold;
    border-radius: 2vh;
    padding-left: 4vw;
    padding-right: 2vw;
    float: left;
}

