.plantPhoto{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  box-shadow: 1;
}

.plant-index-item{
  list-style-type: none;
  float: left;
  width: 200px;
  margin: 35px;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.button{
  width: 100px;
  background-color: rgb(0, 128, 55);
  color: white;
  font-weight: bold;
  
}


.plantName{
  margin: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  color: rgb(5, 73, 5);


}

.plant-index-header{
  align-items: center;
  text-align: center;
  margin-top: -30px;
  font-size: 170%;
 
}


.plantsBackground{
   z-index: -10000;
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
   opacity: 30%;
   background-color: pink;
   
}

.create-plant-form{
  position: absolute;
  left: 50%; top: 20%;
  transform: translate(-50%);
  height: 50vh;
  width: 50vw;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 20px black;
  padding: 10px;
  z-index: 100;
}

.create-plant-button{
  align-self: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  z-index: 0;
}

.create-plant-form-close{
  cursor: pointer;
}

.name{
  float: right;
  position: absolute;
  left: 25%;
}

.nameText{
  float: left;
  position: absolute;
  margin-left: 10px;
}

.difficulty{
  float: right;
  position: absolute;
  left: 25%;
  
}

.difficultyText{
  float: left;
  position: absolute;
  margin-left: 10px;
}

.wateringFrequency{
  float: right;
  position: absolute;
  left: 25%;
}

.days{
  float: right;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.daysBox{
  width: 100%;
  margin-top: 10px;
}

.sunlight{
  float: right;
  position: absolute;
  left: 25%;
  margin-top: 20px;
}

.temperature{
  float: right;
  position: absolute;
  left: 25%;
  margin-top: 10px;
}

.temperature-input{
  width: 45%;
  margin-top: 10px;
}
.tags{
  float: right;
  position: absolute;
  left: 25%;
  width: 55%;
  margin-top: 30px;
}

.submit-create-plant{
  float: right;
  position: absolute;
  left: 50%; bottom: 5%;
  transform: translate(-50%);
  margin-top: 30px;
}
