.plant-show-content-container {
    height: 90vh;
    padding-top: 10vh;
    background-image: url("wallpaper.png");
    background-color: #cccccc;
    background-size: cover;
}

.show-content {
    margin-left: 18vw;
    padding-top: 5vh;
    width: 65vw;
    height: 70vh;
    background-color: rgb(250, 225, 212);
    border-radius: 2vh;
}

.plant-image {
  height: 60vh;
  width: 30vw;
  overflow: hidden;
  border-radius: 200px;
  float: left;
  position: relative;
  top: 3%;
  left: 29%;
  transform: translate(-50%);
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.plant-image:hover {
    border-color: #657468;
}

.plant-info{
  float: left;
  margin: 20px;
  position: relative;
  left: 35%;
  transform: translate(-50%);
  list-style-type: none;
  margin-left: -15px;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 3vh;
}

.plant-name{
  margin: 15px;
  position: relative;
  left: 35%;
  transform: translate(-50%);
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 6.5vh;

}

.information{
  list-style-type: none;
  margin-left: -7vw;
  float: left;
  position: relative;
  left: 40%;
  transform: translate(-50%);
  height: 400px;

}

.plant-show-edit-button-container {
    position: relative;
    width: 0;
    height: 0;
}

.plant-show-edit-button {
    position: absolute;
    bottom: 5vh;
    left: 57vw;
    z-index: 10;

    background-color: rgb(0, 128, 55);

    width: 4vw;
    height: 4vh;

    border-style: none;
    border-radius: 1vh;

    font-family: 'Annie Use Your Telescope', cursive;
    color:white;
    font-size: 2.5vh;
}

.plant-show-edit-button:hover {
    cursor: pointer;
    background-color: #72c254;
}

.plant-show-delete-button {
    position: absolute;
    bottom: 5vh;
    left: 62vw;
    z-index: 10;

    background-color: rgb(0, 128, 55);

    width: 4vw;
    height: 4vh;

    border-style: none;
    border-radius: 1vh;

    font-family: 'Annie Use Your Telescope', cursive;
    color: white;
    font-size: 2.5vh;
}

.plant-show-delete-button:hover {
    cursor: pointer;
    background-color: #72c254;
}

/* .plant-show-edit-form-container{
  position: absolute;
  left: 50%; top: 20%;
  transform: translate(-50%);
  height: 50vh;
  width: 50vw;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 20px black;
  padding: 10px;
  z-index: 100;
} */


/* .name2{
  float: right;
  position: absolute;
  left: 25%; top: 5%;
}

.nameText2{
  float: left;
  position: absolute;
  margin-left: 10px;
}

.difficulty2{
  float: right;
  position: absolute;
  left: 25%;
  top: 10%;
  
}

.difficultyText2{
  float: left;
  position: absolute;
  margin-left: 10px;
}

.wateringFrequency2{
  float: right;
  position: absolute;
  left: 25%;
  top: 15%;
}

.days2{
  float: right;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 20%; 
}

.daysBox2{
  width: 100%;
  margin-top: 10px;
  
}

.sunlight2{
  float: right;
  position: absolute;
  left: 25%;
  margin-top: 20px;
  
  top: 28%;
}

.temperature2{
  float: right;
  position: absolute;
  left: 25%;
  margin-top: 10px;
  top: 35%;
  
}

.temperature-input2{
  width: 20%;
  margin-top: 10px;
  top: 35%;
  margin-left: 10px;
}

.tags2{
  left: 25%;
  width: 55%;
  margin-top: 40px;
  top: 38%;
}

.submit-create-plant2{
  float: right;
  position: absolute;
  left: 50%; bottom: 5%;
  transform: translate(-50%);
  margin-top: 30px;
} */

.plant-tags{
    font-family: 'Annie Use Your Telescope', cursive;
  list-style-type: none;
  top: 40%; left: -1%;
  margin-top: 30px;
  
}

.back-to-list-anchor {
    position: relative;
    width: 0;
    height: 0;
}

.back-to-list{
  position: absolute;
  top: 60vh;
  left: 60vw;

}

.previous-icon {
    height: 5vh;
    width: 2.5vw;
}

.previous-icon:hover {
    opacity: 0.3;
}

.edit-plant-form-anchor {
    position: fixed;
    z-index: 300;
    background-color: rgba(1, 1, 1, 0.7);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-plant-form {
    height: 78vh;
    width: 30vw;
    position: absolute;
    top: 10vh;
    left: 36.5vw;

    display: flex;
    border-radius: 15px;
    box-shadow: 0px 0px 20px black;
    padding: 10px;
    background-color: #fae0d4;

    z-index: 100;

    font-family: 'Annie Use Your Telescope', cursive;
    text-align: start;
}

.edit-form-close {
  position: relative;
  left: 28.6vw;
  bottom: 1vh;
  height: 4vh;

  font-size: 4vh;
}

.edit-form-close:hover {
    cursor: pointer;
    color: #657468;
}

.edit-plant-form-header-anchor {
    position: relative;
    width: 0;
    height: 0;
}
.edit-plant-form-header {
    position: absolute;
    left: 6.5vw;
    top: 0vh;
    width: 20vw;

    font-size: 5vh;
}

.edit-plant-form-left {
    width: 45vw;
}

.name2 {
    display: block;
    margin-top: 10vh;
    margin-left: 1vw;
    padding: 0;
    font-size: 3vh;
}

.nameText2 {
    display: block;
    margin-top: 0.4vh;
    /* border-radius: 0.5vh; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* .name-error-message {
    color: #dc4044;
    font-style: italic;
    font-size: 2vh;
} */

.difficulty2 {
    display: block;
    margin-left: 1vw;
    margin-top: 3vh;
    font-size: 3vh;
}

/* .difficultyText2:hover {
    cursor: pointer;
} */

.difficultyText2 {
    display: block;
    margin-top: 0.4vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.sunlight2 {
    display: block;
    margin-left: 1vw;
    margin-top: 3vh;
    font-size: 2.5vh;
}

.wateringFrequency2 {
    display: block;
    margin-left: 1vw;
    margin-top: 3.5vh;
    font-size: 2.5vh;
}

.days2 {
    display: block;
    margin-left: 1vw;
    margin-top: 2.5vh;

    width: 18vw;
    font-size: 2.5vh;
}

.daysBox2 {
    width: 1vw;
    margin-left: 0.5vw;
    margin-top: 0.5vh;
    padding-left: 0.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .water-error-message2 {
    color: #dc4044;
    font-style: italic;
    font-size: 2vh;
} */

.temperature2 {
    display: block;
    margin-left: 1vw;
    margin-top: 2.5vh;
    line-height: 3.2vh;
    font-size: 2.5vh;
}

.temperature-input2 {
    width: 1.5vw;
    margin-top: 1vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding-left: 0.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.tags2 {
    display: flex;
    flex-wrap: wrap;
    width: 18vw;
    margin-top: 3.5vh;
    margin-left: 1vw;
    font-size: 2.5vh;
}

.tags-checkboxes2 {
    border-color: #fae0d4;
    box-shadow: none;
}

.submit-update-plant {
    /* margin-top: -20vh;
    margin-bottom: 20vh;
    margin-left: 20vw; */

    position: absolute;
    left: 23vw;
    bottom: 2.7vh;
    background-color: rgb(0, 128, 55);
    color: white;
    font-weight: bold;
    height: 5vh;
    width: 4vw;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 2.4vh;
}

.submit-update-plant:hover {
    background-color: #72c254;
    cursor: pointer;
}