
.main-content-plant-index-container {
  width: 900px;
  height: 2000px;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: -475px;
  left: 50%;

  /* align-content: center; */
}

.each-plant-index-container {
  background-color: rgb(250, 225, 212);
  border-radius: 10px;
  padding-top: 100px;
  font-family: 'Annie Use Your Telescope', cursive;
}
.navbar-container {

}
.plant-index-list {
  width: 900px;
}

.index-header-container {
  position: absolute;
  z-index: 1;
}

.plant-index-list-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.plantPhoto{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100px;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  box-shadow: 1;
}

.plant-index-item{
  /* float: left; */
  /* width: 200px;
  margin: 35px; */
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.plant-content-index{
    width: 150px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding-top: 20px;

}

.button{
  width: 100px;
  border-radius: 5px;
  background-color: rgb(174, 211, 208);
  color: rgb(0, 0, 0);
  font-weight: bold;
  
}


.plantName{
  margin: 10px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-family: 'Annie Use Your Telescope', cursive;
  letter-spacing: 1px;
  font-size: 22px;



}

.plant-index-header{
  align-items: center;
  text-align: center;
  margin-top: -30px;
  font-size: 170%;
 
}

.background-contiainer-plant-index {
  position: absolute;
}

.plantsBackground{
   z-index: -100;
   width: 100%;
   height: auto;
   object-fit: cover;
   top: 80px;
   opacity: 95%;
   /* background-repeat: repeat-y; */

   /* opacity: 30%; */
   
}

.create-plant-form{
  position: absolute;
  left: 50%; top: 20%;
  transform: translate(-50%);
  height: 50vh;
  width: 50vw;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 20px black;
  padding: 10px;
  z-index: 100;
}

.create-plant-button{
  align-self: center;
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 50px;
  border: solid 1px;
  background-color: white;


}

.create-plant-form-close{
  cursor: pointer;
}

.name{
  float: right;
  /* position: absolute; */
  left: 25%;
}

.nameText{
  /* float: left; */
  width: 250px;
  /* position: absolute; */
  margin-left: 10px;
}

.difficulty{
  /* float: right; */
  /* position: absolute; */
  /* left: 25%; */
  
}

.difficultyText{
  /* float: left;
  position: absolute;
  margin-left: 10px; */
}

.wateringFrequency{
  /* float: right;
  position: absolute;
  left: 25%; */
}

.days{
  /* float: right;
  position: absolute;
  left: 50%;
  transform: translate(-50%); */
}

.daysBox{
  /* width: 100%;
  margin-top: 10px; */
}

.sunlight{
  /* float: right;
  position: absolute;
  left: 25%;
  margin-top: 20px; */
}

.temperature{
  /* float: right;
  position: absolute;
  left: 25%;
  margin-top: 10px; */
}

.temperature-input{
  /* width: 45%;
  margin-top: 10px; */
}
.tags{
  /* float: right;
  position: absolute;
  left: 25%;
  width: 55%;
  margin-top: 30px; */
}

.submit-create-plant{
  /* float: right;
  position: absolute;
  left: 50%; bottom: 5%;
  transform: translate(-50%);
  margin-top: 30px; */
}

.file-submit{
  float: right;
  position: absolute;
  left: 25%; top: 72%;
  
  margin-top: 30px;
}

.preview{
  float: right;
  position: absolute;
  left: 5%; top: 5%;
  margin-top: 30px;
}