.plant-show-content-container {
  position: relative;
  /* width: 80vw; */
  display: flex;
  justify-content: center;
}

.show-content  {
  position: absolute;
  background-color: white;
  width: 65vw;
  height: 80vh;
  min-width: 65vw;
  margin-top: 20vh;
  border: rgb(0, 0, 0) solid 2px;
  box-shadow: 0px 0px 10px rgb(70, 70, 70);
}

.plant-image{
  margin-top: 13vh;
  height: 400px;
  width: 400px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 200px;
  float: left;
  position: relative;
  left: 35%;
  transform: translate(-50%);
}

.plant-info{
  float: left;
  margin: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  list-style-type: none;
  margin-left: -15px;
  font-family: 'Gowun Batang', serif;
  font-size: 18px;
}

.plant-name{
  margin: 15px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Gowun Batang', serif;
}

.information{
  margin-top: 13vh;
  list-style-type: none;
  margin-left: -40px;
  float: left;
  position: relative;
  left: 40%;
  transform: translate(-50%);
  height: 400px;

}

.plant-show-edit-button{
  margin-right: 10px;
  color: white;
  background-color: rgb(5, 73, 5);
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  left: 35%;
  
  list-style-type: none;
  top: 75%; left: 15%;
  margin-top: 30px;
  width: 12vh;
  height: 2vw;
  
}

.plant-show-delete-button{
  margin-right: 10px;
  color: white;
  background-color: rgb(5, 73, 5);
  position: absolute;
  left: 55%;
  
  list-style-type: none;
  top: 75%; 
  margin-top: 30px;
  width: 12vh;
  height: 2vw;
  
}

.plant-show-edit-form-container{
  position: absolute;
  /* left: 50%; top: 50%; */
  transform: translate(-50%);
  height: 50vh;
  width: 50vw;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 20px black;
  padding: 10px;
  z-index: 100;
}


.name2{
  float: right;
  position: absolute;
  left: 25%; top: 5%;
}

.nameText2{
  float: left;
  position: absolute;
  margin-left: 10px;
}

.difficulty2{
  float: right;
  position: absolute;
  left: 25%;
  top: 10%;
  
}

.difficultyText2{
  float: left;
  position: absolute;
  margin-left: 10px;
}

.wateringFrequency2{
  float: right;
  position: absolute;
  left: 25%;
  top: 15%;
}

.days2{
  float: right;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 20%; 
}

.daysBox2{
  width: 100%;
  margin-top: 10px;
  
}

.sunlight2{
  float: right;
  position: absolute;
  left: 25%;
  margin-top: 20px;
  
  top: 28%;
}

.temperature2{
  float: right;
  position: absolute;
  left: 25%;
  margin-top: 10px;
  top: 35%;
  
}

.temperature-input2{
  width: 20%;
  margin-top: 10px;
  top: 35%;
  margin-left: 10px;
}

.tags2{
  float: right;
  position: absolute;
  left: 25%;
  width: 55%;
  margin-top: 40px;
  top: 38%;
}

.submit-create-plant2{
  float: right;
  position: absolute;
  left: 50%; bottom: 5%;
  transform: translate(-50%);
  margin-top: 30px;
}

.plant-tags{
  margin: 20px;
  position: absolute;
  font-family: 'Gowun Batang', serif;
  top: 55%; 
  /* left: -15%; */
  margin-top: 30px;
  left: 22%;
  transform: translate(-50%);
  list-style-type: none;
  margin-left: -15px;
  font-family: 'Gowun Batang', serif;
  font-size: 18px;
  
}

.back-to-list{
  margin: 20px;
  position: absolute;
  left: 30%;
  list-style-type: none;
  top: 90%; 
  margin-top: 30px;
  text-decoration: none;;
  color: black;

}

.previous-icon {
  height: 24px;
  width: auto;
  position: absolute;
  right: 7vw;
}





